<%= form_with model: blog do |form| %>
  <% if form.object.errors.any? %>
    <div>
      <% form.object.errors.full_messages.each do |message| %>
        <div class="alert alert-warning"><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <div>
    <div>
      <h4><%= form.label :title %></h4>
    </div>
    <div>
      <%= form.text_field :title, style: 'width: 60%', required: true %>
    </div>
  </div>
  <br>
  <div>
    <div>
      <h4><%= form.label :content %></h4>
    </div>
    <div>
      <%= form.text_area :content, style: 'width: 60%', rows: 10, required: true %>
    </div>
  </div>
  <%= form.button :submit, class: "btn btn-primary" %>
<% end %>