<div class="card mb-3">
  <div class="container">
    <% if user_signed_in? && @blog.user.id == current_user.id %>
    <p>
      <%= link_to "Edit", edit_blog_path(@blog), class: 'btn btn-primary mb-3' %>
      <%= button_to "Delete", @blog, method: :delete,  class: 'btn btn-primary mb-3' %>
    </p>
    <% end %>
    <h2 class="card-title">Title: <%= @blog.title %></h2>
    <h4>Author: <%= @blog.user.email %></h4>
    <h5 class="card-text">Published on: <%= @blog.publication_date.strftime('%B %e, %Y') %></h5>
    <h3>Content:</h3>
    <p class="card-text"><%= truncate(@blog.content, length: 150) %></p>
  </div>
</div>

<section class="section comments">
  <div class="container">
    <h3 class="subtitle is-5"><strong><%= @blog.comments.count %></strong> Comments</h3>
    <%= render @blog.comments %>
    <% if user_signed_in? %>
      <div class="comment-form">
        <h3 class="subtitle is-3">Leave a reply</h3>
          <%= render 'comments/form' %>
      </div>
    <% end %>
  </div>
</section>