<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_tag %>
  </head>

  <body>
    <p class="notics"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <p>
          <%= link_to 'Homepage', root_path, class: 'btn btn-primary mb-3' %>
            <% if user_signed_in? %>
                <%= link_to 'New Blog Post', new_blog_path, class: 'btn btn-primary mb-3' %>
                <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary mb-3' %>
            <% elsif include_navbar? %>
                <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary mb-3' %>
                <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary mb-3' %>
            <% end %>
        </p>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
