<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<!--
      <# %= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <# %= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
-->
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <%= link_to 'Homepage', root_path, class: 'navbar-brand' %>
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
          <% elsif include_navbar? %>
            <li class="nav-item">
              <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
